h3 {
color: #b5838d;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;

}

img {
height: 200px;
width: 150px;
border-color: #b5838d;
border-width: 7px;
border-style: dashed;
}
#aboutme, #foot {
border-color: #b5838d;
border-style: solid;
padding: 10px;
color: #6d6875;
}
 
li {
    color: #6d6875;
}
h5 {
    color: #ffab95;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    color: #6d6875;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.abtme{
    padding-top: 50px;
}
.introduction {
 color: #6d6875;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding-top:25px;
}

#enjoy{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
color: #6d6875;
font-style: oblique;
font-size: larger;
}
#about-me, #work, #languages, #personal{
    background-color: #e7b79d;
    padding-top:20px;
padding-bottom:20px;
}

#education, #courses, #computer-skills, #foot{
background-color:#ffcdb2;
padding-top:20px;
padding-bottom:20px;
}

h4 {
    color: #ffab95;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #b5838d;
    
}
a:hover{
    color: #6d6875;
}

#availability{
    text-align:center;
    
}
